*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    width: 120px;
    height: 50px;
}
.about-absolute{
    width: 350px !important;
    top:10%;
    right: 10%;
    @media screen{
        @media (max-width:1090px){
            width: 300px !important;
            font-size: 12px;
            top:4%;
            right: 5%;
        }
        @media (max-width:845px){
            h5{
                font-size:15px ;
            }
            h3{
                font-size:14px ;
            }
            button{
                font-size: 10px;
            }
            width: 255px !important;
            font-size: 9px;
            top:18%;
            right: 1%;
        }
        @media (max-width:614px){
            h5{
                font-size:10px ;
            }
            h3{
                font-size:10px ;
            }
            button{
                font-size: 10px;
                padding:3px;
            }
            p{
                display: none;
            }
            width: 139px !important;
            top:15%;
            left: 57%;
        }
    }
}  
/*video*/
.car-video{
    width: 100%;
    .video-overlay{
        position: absolute;
        width: 100%;
        height: 515px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .video-control-play, .video-control-pause{
            color: white;
            font-size: 3rem;
            cursor: pointer;
            @media (max-width:700px){
                margin-top: 25% !important;
                font-size: 3rem !important;

            }        
            @media (max-width:525px){
                margin-top: 60% !important;
                font-size: 2rem !important;
            }   
            @media (max-width:365px){
                margin-bottom: 50% !important;
                font-size: 1rem;
            }   
        }
        .video-control-pause{
            display: none;
            
        }
    }
    .video-container{
        overflow: hidden;
        width: 100%;
        height: 515px;
        position: relative;
        video{
            width: 100%;
        }
    }
    @media (max-width:800px){
        .video-overlay{
            position: absolute;
            width: 100%;
            height: 315px;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .video-control-play, .video-control-pause{
                color: white;
                font-size: 3rem;
                cursor: pointer;
                @media (max-width:700px){
                    margin-bottom: 18%;
                    font-size: 2rem;
    
                }        
                @media (max-width:525px){
                    margin-bottom: 48%;
                    font-size: 1rem;
                }   
                @media (max-width:365px){
                    margin-bottom: 85%;
                    font-size: 1rem;
                }   
            }
            .video-control-pause{
                display: none;
                @media (max-width:700px){
                    margin-bottom: 18%;
                    font-size: 2rem;
    
                }        
                @media (max-width:525px){
                    margin-bottom: 48%;
                    font-size: 1rem;
                }   
                @media (max-width:365px){
                    margin-bottom: 85%;
                    font-size: 1rem;
                }  
            }
        }
        .video-container{
            overflow: hidden;
            width: 100%;
            height: 315px;
            position: relative;
            video{
                width: 100%;
            }
        }   
    }
    @media (max-width:600px){
        .video-overlay{
            position: absolute;
            width: 100%;
            height: 215px;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .video-control-play, .video-control-pause{
                color: white;
                font-size: 3rem;
                cursor: pointer;
                @media (max-width:700px){
                    margin-bottom: 18%;
                    font-size: 2rem;
    
                }        
                @media (max-width:525px){
                    margin-bottom: 48%;
                    font-size: 1rem;
                }   
                @media (max-width:365px){
                    margin-bottom: 85%;
                    font-size: 1rem;
                }   
            }
            .video-control-pause{
                display: none;
                @media (max-width:700px){
                    margin-bottom: 18%;
                    font-size: 2rem;
    
                }        
                @media (max-width:525px){
                    margin-bottom: 48%;
                    font-size: 1rem;
                }   
                @media (max-width:365px){
                    margin-bottom: 85%;
                    font-size: 1rem;
                }  
            }
        }
        .video-container{
            overflow: hidden;
            width: 100%;
            height: 215px;
            position: relative;
            video{
                width: 100%;
            }
        }   
    }
}
/*Product*/
.products{
  
    img{
        height: 250px;
    }
}

/*Contact Us*/
.contact{
    img{
        height: 890px;
        object-fit: cover;
    }
    .contact-absolute{
        width: 351px !important;
        height: 320;
        top:5%;
        left:4%;
    }
    @media (max-width:800px){
        .contact-absolute{
            width: 400px;
            height: 320;
            top:5%;
            left:10%;
        }
    }
}
